$primaryColor: #7187a7;
$title: 'Major Mono Display';
$subtitle: 'Avenir';
$montserrat: "Montserrat";
$poppins: "Poppins";


* {
    -ms-overflow-style: none;
}

.section {
    position: relative;
    width: 100%;
    .wrapper {
        padding: 0 150px;
        background-color: transparent;

    }
    .wrapper-skills {
        height: 100vh;
        .content-skills {
            display: grid;
            grid-template-columns: 50% 50%;
            margin-top: 10vh;
        }
        .content-languages-slider {
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            margin: 7rem 0;
            
        }
        @keyframes translates {
            0% { transform: translateX(100%)}
            100% {transform: translateX(-750%)}
        }
        .item-img{
            padding: 10px;
            background-color: #fefefe;
            border-radius: 50%;
            margin-bottom: 25px;
            margin-right: 10px;
            animation: translates 15s linear infinite;
            &:hover {

            }
        }
        .text-skill {
            font-family: $montserrat;
            font-size: 25px;
            font-weight: 400;
            text-align: center;
            padding-top: 3vh;
        }
        .content-soft-skills {
            margin-top: 15vh;
            .content-element{
                position: relative;
                align-items: center;
                margin-left: 20vw;
            }
            .text-soft-skill {
                font-family: $montserrat;
                font-size: 25px;
                font-weight: 400;
                padding-left: 5vw;
            }
            .skill-item{
                list-style: none;
                font-size: 20px;
                font-family: $montserrat;
                padding: 0 25px;
            }
            .circle {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                background-color: #3564aa;
            }
        }

        .illustration-img {
            width: 450px;
            height: auto;
        }

    }

    .title-hero {
        font-family: $montserrat;
        color: #e1e1e1;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 5.4rem;
        text-align: center;
    }
    .skills-hero {
        position: relative;
        width: 100%;
        h2 {
            font-family: $montserrat;
            font-weight: 700;
            font-size: 1.9rem;
            text-align: center;
        }

    }
    h2 {
        font-family: $montserrat;
        font-size: 1.5em;
    }

    /**
    PROJETS & RÉALISATIONS
     */
    .wrapper-projects {
        margin: 5vh 0;
        .container-project {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            .card-project-content {
                margin-top: 3vw;
                margin-right: 3vw;
                transition: all 70ms ease-in-out;
                border-radius: 5px;
                &:hover {
                    .slide {
                        transform: translateY(0);
                    }
                }
                figure {
                    overflow: hidden;
                }
                .card-header {
                    z-index: 2;
                }
                .card-header img {
                    width: 100%;
                    object-fit: cover;
                    height: 222px;

                    transform: scale(1.2);
                    transition: all 200ms ease-in-out;
                    &:hover {
                        cursor: pointer;
                        filter: brightness(50%);
                        transform: scale(1.3);
                    }
                }
                .slide {
                    height: 16rem;
                    transition: .5s all ease-in-out;
                    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .2);
                }
                .card-body {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    .title-project {
                        font-size: 1.3em;
                        font-weight: 500;
                        color: $primaryColor;
                        font-family: $poppins;
                        padding-bottom: 15px;
                    }
                    h4 {
                        padding-bottom: 40px;
                        flex-grow: 2;
                        height: 130px;
                        font-family: $subtitle;
                        font-weight: 300;
                        line-height: 1.8;
                    }
                    p {
                        flex-basis: 3vw;
                        height: 30px;
                        font-family: $subtitle;
                        strong {
                            padding: 5px 8px;
                            margin-left: 3px;
                            background-color: $title;
                            color: #fff;
                            border-radius: 15px;
                        }
                    }
                    .btn-link {
                        width: 100%;
                        span {
                            padding: 10px 10px;
                            border: 1px solid black;
                            margin-right: 1rem;
                            font-family: $subtitle;
                            transition: all 100ms ease-in-out;
                            &:hover {
                                cursor: pointer;
                                background-color: $primaryColor;
                                color: white;
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
