$primaryColor: #7187a7;
$title: 'Major Mono Display';
$subtitle: 'Avenir';
$montserrat: "Montserrat";
$avenir: 'Avenir';
.section {
    width: 100%;
    position: relative;
    .wrapper-section {
        margin: 15rem 250px;
        h1 {
            font-size: 3.2rem;
            font-family: $title;
        }
        .section-content {
            display: flex;
            padding-top: 3vw;
            .about_me {
                margin-right: 0;
                font-size: 1.1rem;
                width: 60%;
                min-height: 120px;
                height: 15rem;
                font-family: $avenir;
                font-weight: 400;
                text-align: start;
                line-height: 2;
            }
            img {
                width: 400px;
                height: auto;
                margin-left: 50px;
            }
        }
        .hobbies_section {
            padding-top: 3rem;
            h4 {
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
    }
}