$montserrat: 'Montserrat', serif;
.wrapper-contact {
    padding: 0 250px;
    .section-title {
        font-family: $montserrat;
        font-size: 3.4rem;
    }
    .form-contact {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 50px 0;
    }
    input {
        width: 40%;
        height: auto;
        padding: 25px 20px;
        background-color: rgba(241, 239, 239, 0.8);
        outline: none;
        border: none;
        margin-right: 25px;
        font-size: 18px;
        font-family: $montserrat;
        font-weight: 800;
        &::placeholder {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
        }
    }
    textarea {
        width: calc(80% + 25px);
        height: auto;
        padding: 25px 20px;
        background-color: rgba(241, 239, 239, 0.8);
        outline: none;
        border: none;
        margin-right: 25px;
        margin-top: 60px;
        font-size: 18px;
        font-family: $montserrat;
        font-weight: 800;
    }
    .btn-send {
        margin-top: 40px;
        width: 130px;
        position: relative;
        padding: 15px 13.5px;
        background-color: transparent;
        font-family: $montserrat;
        outline: none;
        border: 1px solid black;
        font-size: 16px;
        transition: all 100ms ease-in-out;
        &:hover {
            background-color: rgba(239, 242, 245, 0.8);
            cursor: pointer;
        }
    }
}
