.container {
    margin: 0;
    height: 50vw;
    position: relative;
    .container-header {
        display: grid;
        grid-template-columns: 40% 30%;
        justify-content: center;
        align-items: center;
        width: 100%;
        .container-title {
            display: flex;
            flex-flow: column wrap;
        }
        strong {
            transition: all 100ms ease-in-out;
            &:hover {
                text-decoration: underline wavy;
            }
        }
        .title {
            font-size: 5em;
            font-family: 'Raleway';
            text-transform: capitalize;
            font-weight: 900;
            padding: 4vw 0;
        }
        .description {
            font-family: "Montserrat";
            font-weight: 400;
            color: black;
            text-align: left;
            line-height: 2;
            font-size: 1.4em;
            span {
                font-weight: 700;
                font-size: 1.5em;
            }
        }
        figure {
            display: flex;
            align-items: center;
            justify-content: center;
            .avatar {
                height: 300px;
                border-radius: 50%;
            }
        }
    }
}