$primaryColor: #7187a7;
$fontFamily: 'Montserrat';
$fontFamilySecond: 'Avenir';
$josefinSans: "Josefin Sans";
.container {
    margin: 0;
    height: 40vw;
    position: relative;
    .container-header {
        display: grid;
        grid-template-columns: 40% 30%;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 100px;
        .container-title {
            display: flex;
            flex-flow: column wrap;
        }
        .title {
            font-size: 5.5em;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: capitalize;
            font-weight: 900;
            padding: 2vw 0;
        }
        .header_presentation {
            font-family: "Montserrat";
            font-weight: 300;
            text-align: left;
            line-height: 1.7;
            font-size: 1.3em;
        }
        figure {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .avatar {
                height: 350px;
                border-radius: 50%;
            }
        }
    }
}