.container-nav {
    padding: 2.5vw 0;
    .container-fluid {
        display: grid;
        flex-flow: row wrap;
        grid-template-columns: 40% 30%;
        justify-content: center;
        align-items: center;
        width: 100%;
        .navbar-brand {
            .navbar-logo {
                .logo {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    text-decoration: none;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                    span {
                        padding: 5px;
                        color: #000;
                        font-family: 'Raleway Dots';
                        font-weight: 700;
                        font-size: 2em;
                    }
                }
            }
        }
        .navbar-menu {
            display: flex;
            justify-content: flex-end;
            .link {
                font-family: "Avenir";
                color: #7187a7;
                transition: all 200ms ease-in-out;
                border: 1px solid #3564aa;
                text-decoration: none;
                border-radius: 25px;
                padding: 10px 13px;
                &:hover {
                    background-color: #3564aa;
                    color: #fff;
                }
            }
            li {
                list-style-type: none;
            }
        }
    }
}