.container-nav {
    padding: 3.5em 0;
    .container-fluid {
        display: grid;
        flex-flow: row wrap;
        grid-template-columns: 40% 30%;
        justify-content: center;
        align-items: center;
        width: 100%;
        .navbar-menu {
            display: flex;
            justify-content: flex-end;
        }
        .navbar-menu a {
            font-family: "Avenir";
            color: #7187a7;
            transition: all 200ms ease-in-out;
            border: 1px solid #3564aa;
            text-decoration: none;
            border-radius: 25px;
            padding: 10px 13px;
            &:hover {
                background-color: #3564aa;
                color: #fff;
            }
        }
        li {
            list-style-type: none;
        }
    }
}