.container-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 5vh 15vh;
    .navbar-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-menu a {
        font-family: "Avenir";
        color: #7187a7;
        transition: all 200ms ease-in-out;
        border: 1px solid #3564aa;
        text-decoration: none;
        border-radius: 25px;
        padding: 10px 13px;
        &:hover {
            background-color: #3564aa;
            color: #fff;
        }
    }
    li {
        list-style-type: none;
    }
}