.box_social_media {
    background-color: #7187a7;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vw;
    .social__links {
        a {
            padding-left: 15px;
            color: #fff;
            &:hover {
                color: black;
            }
        }
    }
    strong {
        color: #fff;
        font-family: 'Raleway Dots';
        padding-top: 10px;
    }
}